<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928402794040-r7rf0008bqfnqk9d1o15lt5o0tg2lg12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928402794040-r7rf0008bqfnqk9d1o15lt5o0tg2lg12</string>
	<key>API_KEY</key>
	<string>AIzaSyDU5dFSa4PWC5_5oEjJuXdB7EPZzXfoqek</string>
	<key>GCM_SENDER_ID</key>
	<string>928402794040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.amber</string>
	<key>PROJECT_ID</key>
	<string>amber-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>amber-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928402794040:ios:c5a98dc8eb4e13aaa6a8cd</string>
</dict>
</plist>